<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0
                              http://maven.apache.org/xsd/settings-1.2.0.xsd">
    <servers>
        <!-->для ТУЗов учетка указывается с сегментом сети: @delta.sbrf.ru<-->
        <server>
            <id>central-mirror</id>
            <username>${env.MAVEN_USER_LOGIN}</username>
            <password>${env.MAVEN_USER_PASSWORD}</password>
        </server>
        <server>
            <id>public</id>
            <username>${env.MAVEN_USER_LOGIN}</username>
            <password>${env.MAVEN_USER_PASSWORD}</password>
        </server>
        <server>
            <id>release</id>
            <username>${env.MAVEN_USER_LOGIN}</username>
            <password>${env.MAVEN_USER_PASSWORD}</password>
        </server>
        <server>
            <id>dev</id>
            <username>${env.MAVEN_USER_LOGIN}</username>
            <password>${env.MAVEN_USER_PASSWORD}</password>
        </server>
        <server>
            <id>internal</id>
            <username>${env.MAVEN_USER_LOGIN}</username>
            <password>${env.MAVEN_USER_PASSWORD}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <url>https://nexus-ci.delta.sbrf.ru/repository/public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

    <profiles>
        <profile>
            <id>tester</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>public</id>
                    <url>https://nexus-ci.delta.sbrf.ru/repository/public/</url>
                </repository>
                <repository>
                    <id>internal</id>
                    <url>https://nexus-ci.delta.sbrf.ru/repository/maven-lib-int</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>release</id>
                    <url>https://nexus-ci.delta.sbrf.ru/repository/maven-lib-release/</url>
                </repository>
                <repository>
                    <id>dev</id>
                    <url>https://nexus-ci.delta.sbrf.ru/repository/maven-lib-dev/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>public</id>
                    <url>https://nexus-ci.delta.sbrf.ru/repository/public/</url>
                </pluginRepository>
                <pluginRepository>
                    <id>internal</id>
                    <url>https://nexus-ci.delta.sbrf.ru/repository/maven-lib-int</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>always</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>tester</activeProfile>
    </activeProfiles>

</settings>